
 <section >
    <div class="card">
      <div class="card-body">
          <h4 class="card-title">Evento</h4>
          <form novalidate  [formGroup]='crearform' (ngSubmit)='crear()' class="form-horizontal form-material">
   
              <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label >Nombre</label>
                      <input type="text" class="form-control"    placeholder="Ingrese Nombre" formControlName='nombre' >
                      <app-error [control]="crearform.controls.nombre"> </app-error>  
                 
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="form-group">
                        <label >Lugar</label>
                        <input type="text" class="form-control"   placeholder="Ingrese descripcion" formControlName='place' >
                         </div>  
            
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label >Dirección</label>
                          <input type="text" class="form-control"   placeholder="Ingrese descripcion" formControlName='address' >
                            </div>  
              
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label >Fecha inicio</label>
                                  <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                           name="dpInit" readonly  formControlName='initDate' ngbDatepicker #d="ngbDatepicker">
                                    <div class="input-group-append">
                                      <button class="btn btn-outline-secondary calendar glyphicon glyphicon-calendar" (click)="d.toggle()" type="button"></button>
                                    </div>
                                  </div>
                      </div>  
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label >Fecha Final</label>
                              <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd"
                                       name="dpEnd" readonly   formControlName='endDate' ngbDatepicker #dq="ngbDatepicker">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary calendar glyphicon glyphicon-calendar" (click)="dq.toggle()" type="button">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                  </button>
                                </div>
                              </div>
                          </div>  
                  
                        </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <div class="form-group">
                              <label >Tipo Evento</label>
                              <select  formControlName='event_type' class="form-control">
                                <option value="">--SELECCIONE EL CAMPO CORRESPONDIENTE--</option>
                                <option *ngFor="let eventTypeItem of _lists.event_type " value= {{eventTypeItem.idevent_type}}>{{eventTypeItem.name}} </option>
                                 </select>
                             </div>
                      </div>
                    </div>

          
                      <div class="col-md-6">        
                          <div class="form-group">
                              <div class="form-group">
                                  <label >Categoria</label>
                                  <select  formControlName='category' class="form-control">
                                    <option value="">--SELECCIONE EL CAMPO CORRESPONDIENTE--</option>
                                    <option *ngFor="let cat of _lists.category " value= {{cat.idcategory}}>{{cat.name}} </option>
                                    </select>
                                   </div>
                          </div>
                     </div>   
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-md-6">     
                        <button type="submit"  class="btn btn-styled btn-primary btn-lg btn-block">{{textButton}}</button>
                        <div *ngIf="textButton=='Crear'" style="text-align:center">  <a routerLink="/historical" style=" text-decoration: underline"><h4>Volver al historial</h4></a>
                        </div>
                      
                    </div>
                  </div>
            </form>
      </div>
  </div>
  </section>